
<div class="container " *ngIf="!openWindowEdit">
  <div class="text-center my-4">
    <h2 class="text-secondary-color">Coffe</h2>
  </div>
  <div class="text-end">
    <button type="button" routerLink="/new" class="btn-tertiary-color text-secondary-color fw-bold py-1 px-2 border-0 rounded mb-2"><i class="fas fa-plus"></i> Adicionar</button>
  </div>
  <table class="table text-secondary-color rounded bg-white">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Comida</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i2 = index">
        <th scope="row">{{ user.nome }}</th>
        <td>{{ user.cpf }}</td>
        <td><span *ngFor="let food of user.food; let i = index"> {{ user.food[i].food }} |</span></td>
        <td><a (click)="openEdit(i2)"><i class="fas fa-user-edit"></i></a></td>
        <td><a (click)="excluir(user.id)"><i class="fas fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>

<app-edit *ngIf="openWindowEdit" [userEdit]="userEdit" [indexEdit]="indexEdit" [userId]="userId" (backEdit)="openWindowEdit = false">

</app-edit>

